<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Dist-Map</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home</a>
      <a class="nav-item nav-link" href="#">About</a>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <form>
          <label for="timeslider">Maximum Travel Time in Minutes: {{travelTime}}</label>
          <p-slider name="timeslider" id="timeslider" [(ngModel)]="travelTime" [min]="20" [max]="60"></p-slider>

          <div class="ui-g" style="width:250px;margin-bottom:10px">
            <div class="ui-g-12">
              <p-checkbox name="polygonbox" value="Use Polygons" [(ngModel)]="usePolygons" binary="true" label="Draw Polygons"></p-checkbox>
            </div>
          </div>

          <div class="ui-g" style="width:250px;margin-bottom:10px">
            <div class="ui-g-12">
              <span class="pi pi-car"></span>
              <p-radioButton name="vehiclegroups" value="Foot" label="Feet" [(ngModel)]="travelType" inputId="preopt1">
              </p-radioButton></div>
            <div class="ui-g-12"><p-radioButton name="vehiclegroups" value="Car" label="Car" [(ngModel)]="travelType" inputId="preopt2"></p-radioButton></div>
          </div>

        </form>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dist Map</h1>
      </div>
      <p-gmap #gmap [options]="options" [overlays]="overlays" (onMapClick)="handleMapClick($event, gmap.getMap())" [style]="{'width':'900','height':'700px'}" ></p-gmap>
    </main>
  </div>
</div>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>



<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <img class="mb-2" src="../../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
      <small class="d-block mb-3 text-muted">&copy; 2018</small>
    </div>
    <div class="col-6 col-md">
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">About</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
      </ul>
    </div>
  </div>
</footer>
