<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
    <img height="40" src="../assets/logo_distmap.png">
    </a>
</nav>


<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <form>

        <ul class="nav flex-column">
          <li class="nav-item">
            <div class="ui-g" style="margin:3px">
              <div class="ui-g-12">
                <label for="timeslider">Maximale Reisezeit (min): {{travelTime}}</label>
                <p-slider name="timeslider" id="timeslider" [(ngModel)]="travelTime" [min]="20" [max]="60"></p-slider>
              </div>
            </div>
          </li>
          <li class="nav-item">

            <div class="ui-g" style="margin:3px">
              <div class="ui-g-12">
                <p-checkbox name="polygonbox" value="Use Polygons" [(ngModel)]="usePolygons" binary="true" label="Polygone"></p-checkbox>
              </div>
            </div>

          </li>
          <li class="nav-item">
            <div class="ui-g" style="margin:3px">
              <div class="ui-g-12">
                <p-radioButton name="vehiclegroups" value="Foot" label="Fußgänger" [(ngModel)]="travelType" inputId="preopt1">
                </p-radioButton>
                <i class="fa fa-blind" style="margin-left:10px"> </i>
              </div>
              <div class="ui-g-12">
                <p-radioButton name="vehiclegroups" value="Car" label="PKW" [(ngModel)]="travelType" inputId="preopt2"></p-radioButton>
                <i class="fa fa-car" aria-hidden="true" style="margin-left:10px"> </i>
              </div>
            </div>
          </li>
        </ul>
        </form>
        <p-button style="margin-left:5px" label="Karte zurücksetzen" (click)="resetMap()"></p-button>
        <br />
        <br />
        <p-button style="margin-left:5px" label="Beispielrequest" (click)="dummyRequest(gmap.getMap())"></p-button>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <br />
      <p-gmap #gmap [options]="options" [overlays]="overlays" (onMapClick)="handleMapClick($event, gmap.getMap())" [style]="{'width':'900','height':'700px'}" ></p-gmap>
    </main>
  </div>
</div>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>



<footer class="pt-4 my-md-5 pt-md-5 border-top">
  <div class="row">
    <div class="col-12 col-md">
      <img class="mb-2" src="../../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
      <small class="d-block mb-3 text-muted">&copy; 2018</small>
    </div>
    <div class="col-6 col-md">
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">About</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
      </ul>
    </div>
  </div>
</footer>
